<div class="main-content">
    <div class="main-content-text">
        <h3>Legal Ipsum</h3>
        <p>In other words, you may use, reproduce, display, perform, sublicense and distribute the Program originate from and
            are distributed by the Recipient, this Agreement or Distributor's own license agreement, such license applies
            only to the extent it does not give you the right to change the software accompanying this Agreement as released
            by, including source code, documentation source, and configuration files for the physical act of running the
            Standard Version, and of any installation facilities provided by the Copyright Holder. This license has been
            modified. If you obtain such knowledge after the cause of action arose.</p>
    </div>
    <a routerLink="/" class="button content-btn">HOME</a>
</div>